<!DOCTYPE html>
<html>
<head>
    <style>
        header{
            text-align:center;
            padding-top:10px;
        }
        article{
            margin-left:50%;
            border-left:1px solid gray;
            padding-left:10px;
            width:50%;
        }
        article h1{
            color:red;
        }
        section{
            float:left;
            padding-left:10px;
            width:48%;
            padding-right:10px;
        }
        section h1{
            color:red;
        }
    </style>
<title>
    Ruby On Rails HTML Homework!
</title>
</head>
<body>
    <img src="https://www.w3schools.com/images/w3schools_green.jpg" alt="W3Schools.com">
    <header>HTML Page for Ruby On Rails</header>
    <%= link_to 'About', about_path %>
    <section>
        <h1>This is HOME page</h1>
        <p>A dynamic, open source programming language with a focus on simplicity and productivity. 
        </p>
    </section>
    <article>
        <h1>Imagine what you could build if you learned Ruby on Rails
        </h1>
        <h6> 
		Learning to build a modern web application is daunting. Ruby on Rails makes it much easier and more fun. It includes .
        </h6>
    </article>
</body>
</html>